@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

body {
  background: rgb(93, 93, 93);
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
}

h1:hover {
  text-shadow: 0 0 14px rgb(255, 255, 255);
}

h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.1rem 0;
}

p {
  font-weight: 400;
  margin: 0.4rem 0;
  letter-spacing: 1.2px;
  font-size: 1rem;
}

.greek {
  letter-spacing: 1.4px;
}

#logo {
  width: 10rem;
  margin-top: 1.2rem;
  -webkit-filter: drop-shadow(4px 4px 0 rgb(255, 255, 255))
    drop-shadow(-4px -4px 0 rgb(255, 255, 255));
  filter: drop-shadow(4px 4px 0 rgb(255, 255, 255))
    drop-shadow(-4px -4px 0 rgb(255, 255, 255));
}

#logo:hover {
  filter: drop-shadow(0 0 14px rgb(255, 255, 255));
}
