@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  text-align: center;
  height: 100vh;
  background: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#toggle-dark-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width:50px;
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  background: rgb(32, 32, 32);
  padding: 0;
  border-radius: 50px;
  padding-top: 0.15rem;
}

#toggle-dark-btn:hover {
  cursor: pointer;
  background: rgb(110, 110, 110);
}

#contrast-icon {
  width: 35px;
  height: 35px;
  margin: 0;
}

.light-mode {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
}

h1:hover {
  text-shadow: 0 0 14px rgb(255, 255, 255);
}

h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.1rem 0;
}

p {
  font-weight: 400;
  margin: 0.4rem 0;
  letter-spacing: 1.2px;
  font-size: 1rem;
}

.greek {
  letter-spacing: 1.4px;
}

#logo {
  height: 13rem;
  margin-top: 1.2rem;
  -webkit-filter: drop-shadow(4px 4px 0 rgb(255, 255, 255))
    drop-shadow(-4px -4px 0 rgb(255, 255, 255));
  filter: drop-shadow(4px 4px 0 rgb(255, 255, 255))
    drop-shadow(-4px -4px 0 rgb(255, 255, 255));
}

#logo:hover {
  filter: drop-shadow(0 0 14px rgb(255, 255, 255));
}
